NODE_ENV=

SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=

VITE_APP_API_URL=

VITE_APP_DEFAULT_LOCALE=
VITE_APP_FALLBACK_LOCALE=

VITE_APP_SENTRY_DSN=

VITE_APP_FREEMIUM_API_KEY=
VITE_APP_FREEMIUM_API_URL=
VITE_APP_FREEMIUM_SECRET=
VITE_APP_FREEMIUM_URL=

VITE_APP_PUSHER_APP_CLUSTER=
VITE_APP_PUSHER_APP_ID=
VITE_APP_PUSHER_APP_KEY=
VITE_APP_PUSHER_APP_SECRET=

VITE_APP_SCREENSHOT_API_URL=
VITE_APP_SSP_MEDIA_API_URL=
VITE_APP_SSP_TEXT_API_URL=
VITE_APP_YOUTUBE_TEXT_URL=
VITE_APP_CPMSTAR_API_URL=

VITE_APP_YANDEX_METRIKA_ID=